@use "variables.scss" as v;
@use "functions.scss" as f;

@mixin article-card($color, $border-color, $font-size: 1rem) {
    color: $color;
    border: #{f.rem(1px)} solid $border-color;
    font-size: $font-size;
}

%text {
    color: v.$green;
    text-decoration: underline;
    text-decoration-color: v.$blue;
}

div {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: #{f.rem(1px)} solid v.$red;
    padding: #{f.rem(16px)};


    h1 {
        @extend %text;

    }

    h2 {
        @extend %text;
        align-self: center;
        padding: 1rem;
        border: #{f.rem(1px)} solid v.$red;
        text-decoration: none;
    }

    section {
        display: flex;
        border: #{f.rem(1px)} solid v.$green;
        margin-bottom: #{f.rem(24px)};

        article {
            @include article-card(v.$red, v.$green);

            &:nth-child(odd) {
                color: v.$blue;
            }

            &:nth-child(even) {
                color: v.$red;
            }
        }

        &:last-child {
            article {
                @include article-card(v.$green, v.$blue, 1.5rem);

            }
        }

    }
}